
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header-->
<header class="bg-principal-lector py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Biblioteca Luis Cabrera Lobato</h1>
            <p class="lead fw-normal text-white-50 mb-0">Bibliotecas CuboRubikCode</p>
        </div>
    </div>
</header>
<!-- Section-->
<section>
    <div class="container-fluid px-5 my-5">

        <div class="row">
            <div class="col-sm-3">
                <div class="row mb-3">
                    @*para categorias*@
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header bg-success text-white">
                                Categorias
                            </div>
                            <div id="contenedorCategoria" class="card-body">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    @*para Editoriales*@
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header bg-success text-white">
                                Editoriales
                            </div>
                            <div id="contenedorEditorial" class="card-body">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    @*boton de filtrar*@
                    <div class="col-sm-12">
                        <div class="d-grid gap-2">
                            <button id="btnAplicarFiltro" class="btn btn-outline-dark btn-block" type="button">
                                <i class="fas fa-filter"></i>Aplicar filtros
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                @*la ottra seccion*@
                <div id="contenedorLibro" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{

    <script>

        $(document).ready(function () {
            MostrarCategorias();
            MostrarLibros('T', 'T')//Anteriormente estaba en 0, pero al ser de codigo tipo string, se cambio a que fuera una T,
            //indicando Todos, de esta forma, no hay problema al mandar un ID y ya muestra todos los productos con solo iniciar la pagina
        })

        function MostrarCategorias() { /*muetsra todas las categorias dentro del mantenedor*/

            jQuery.ajax({
                url:"@Url.Action("ListarCategorias", "Biblioteca")",
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    /*Pasamos de este check a la forma de abajo
                     * <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                          <label class="form-check-label" for="flexRadioDefault1">
                            Default radio
                          </label>
                        </div>
                     */
                    $("#contenedorCategoria").LoadingOverlay("hide");
                    $("<div>").addClass("form-check").append(//Creacion de checkBox's

                        $("<input>").addClass("form-check-input").attr({ "type":"radio", "name":"categoria", "value":"T", "id":"cx", "checked":"checked" }),
                        $("<label>").addClass("form-check-label").text("Todos").attr({ "for":"cx"})
                    ).appendTo("#contenedorCategoria")//Implementado dentro del contenedorCategoria
                    //porque el metodo de listar categoria data viene del json
                    $.each(response.data, function (i, element) {//itera cada tipo de categoria
                        $("<div>").addClass("form-check").append(

                            $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "categoria", "value": element.IdCategoria, "id": "cx" + i}),
                            $("<label>").addClass("form-check-label").text(element.Descripcion).attr({ "for": "cx" + i })//Checar si vamos a cambiar el cx a c
                        ).appendTo("#contenedorCategoria")
                    })
                    MostrarEditorial();
                },
                beforeSend: function () {
                    $("#contenedorCategoria").LoadingOverlay("show");
                }
            })

        }
        function MostrarEditorial() { /*muestra la Editorial de acuerdo a la categoria seleccionada*/

            var _idCategoria = $("input[name=categoria]:checked").val()
           
            jQuery.ajax({
                url: "@Url.Action("ListarEditorialPorCategoria", "Biblioteca")",
                type: "POST", //si categoria envia 0 muestra todas las Editoriales
                data: JSON.stringify({ idCategoria: _idCategoria }),//Se envia el valor para el parametro tipo int a utilizar
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#contenedorEditorial").html("");//Antes de que vuelva a pintar todas las Editoriales, limpia todo el contenedor, de esta forma cada vez que actualicemos
                    //va a tener en inicio el contenedor vacio y pinta nuevamente todos los elementos de las Editoriales
                    //console.log(_idcategoria);
                    $("#contenedorEditorial").LoadingOverlay("hide");
                    $("<div>").addClass("form-check").append(

                        $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "editorial", "value": "T", "id": "mx", "checked": "checked" }),
                        $("<label>").addClass("form-check-label").text("Todos").attr({ "for": "mx" })
                    ).appendTo("#contenedorEditorial")
                    //porque el metodo de listar categoria data viene del json
                    $.each(response.data, function (i, element) {//itera cada tipo de categoria
                        $("<div>").addClass("form-check").append(

                            $("<input>").addClass("form-check-input").attr({ "type": "radio", "name": "editorial", "value": element.IdEditorial, "id": "m" + i }),
                            $("<label>").addClass("form-check-label").text(element.Descripcion).attr({ "for": "m" + i })
                        ).appendTo("#contenedorEditorial")
                    })
                },
                beforeSend: function () {
                    $("#contenedorEditorial").LoadingOverlay("show");
                }
            })
           // console.log(_idcategoria);

        }

        $(document).on("change", "input[name=categoria]", function () {
            //la accion a realizar
            MostrarEditorial();
        })

        function MostrarLibros(_idCategoria, _idEditorial) { /*muestra la Editorial de acuerdo a la categoria seleccionada*/

            jQuery.ajax({
                url: "@Url.Action("ListarLibros", "Biblioteca")",
                type: "POST", //si categoria envia 0 muestra todas las Editoriales
                //los parametros indicados deben ser igual a los nombrados en Biblioteca controller de su metodo
                data: JSON.stringify({ idCategoria: _idCategoria, idEditorial: _idEditorial }),//Se envia el valor para el parametro tipo int a utilizar
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#contenedorLibro").html("");
                    $("#contenedorLibro").LoadingOverlay("hide");

                    $.each(response.data, function (i, element) {//itera cada tipo de categoria
                        $("<div>").addClass("col mb-5").append(
                            $("<div>").addClass("card h-100").append(
                                $("<img>").addClass("card-img-top").attr({ "src": "data:image/" + element.Extension + ";base64," + element.Base64 }),
                                $("<div>").addClass("card-body p-4").append(
                                    $("<div>").addClass("text-center").append(
                                        $("<h5>").addClass("fw-bolder").text(element.Titulo),
                                        //"$" + element.Ejemplares.toFixed(2) + "Ejemplares disponibles" //para devolver solo dos decimales
                                         element.Ejemplares + " Ejemplares disponibles" //para devolver solo dos decimales
                                    )
                                ),
                                 $("<div>").addClass("card-footer p-4 pt-0 border-top-0 bg-transparent").append(

                                            $("<div>").addClass("d-grid gap-2").append(//Esto es para mejora del diseño y que los elementos tomen todo el ancho y que se alineen los elementos
                                                @if(Session["Lector"] != null){ //Si el usuario ha iniciado sesion, se muestra el boton  de agregar al carrito
                                                    @:$("<button>").addClass("btn btn-success mt-auto agregarcarrito").data("idLibro", element.IdLibro).text("Agregar a carrito"),//añadimos una propiedad interna el valor que va a tener sera el del elemento id

                                                }
                                                $("<a>").addClass("btn btn-dark mt-auto")//con margin-top de auto
                                                    .attr({ "href": "@Url.Action("DetalleLibro","Biblioteca")" + "?idLibro=" + element.IdLibro })//tiene el parametro idLibro
                                                    .text("Ver detalle")
                                            )

                                        )
                            )
                        ).appendTo("#contenedorLibro")
                    })
                },
                beforeSend: function () {
                    $("#contenedorLibro").LoadingOverlay("show");
                }
            })

        }

        $("#btnAplicarFiltro").click(function () {
            var _idCategoria = $("input[name=categoria]:checked").val()
            var _idEditorial = $("input[name=editorial]:checked").val()
            MostrarLibros(_idCategoria, _idEditorial)
        })

        $(document).on("click", "button.agregarcarrito", function () {//boton agregar carrito
            console.log($(this).data("idLibro"))
            jQuery.ajax({
                url: "@Url.Action("AgregarCarrito", "Biblioteca")",
                type: "POST", //si categoria envia 0 muestra todas las Editoriales
                //los parametros indicados deben ser igual a los nombrados en Biblioteca controller de su metodo
                //el identificador idLibro debe ser igual al del metodo declaado en su parametro
                data: JSON.stringify({ idLibro: $(this).data("idLibro") }),//Se envia el valor para el parametro tipo int a utilizar
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //data.respuesta es lo que retorna el metodo agregarCarrito
                    if (data.respuesta) {
                        MostrarCantidadCarrito();//Este metodo esta declarado en layout, en la master page, entoncees aunque no estemos en la misma vista
                        //pdemos acceder a este metodo porque layout es la master page y este index es un contenido del mismo (porque index de Biblioteca esta referenciado al layout)
                        swal({
                            title: "Agregado al carrito",
                            text: "¿Desea ir al carrito?",
                            type: "success",
                            showCancelButton: true,
                            confirmButtonClass: "btn-primary",
                            confirmButtonText: "Si",
                            cancelButtonText: "No",
                            closeOnConfirm: true
                        }, function () {
                            //redirige al carrito
                            window.location.href = '@Url.Action("Carrito","Biblioteca")'
                        })
                    } else {
                        swal("", data.mensaje, "warning");//el mensaje se esta obteniendo de data
                    }
                }
            });
        })


    </script>

}

